@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500&display=swap");
body {
  background: #030426;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  color: white;
}

a {
  text-decoration: none;
}

.caret {
  width: 10px;
  height: 20px;
  position: relative;
  top: 36px;
  left: 15px;
  background: white;
}

.caretEnabled {
  -webkit-animation: caretAnim 0.5s none 0s infinite alternate;
          animation: caretAnim 0.5s none 0s infinite alternate;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.25em;
  background: black;
}

.header .logo {
  size: 1.5em;
  padding: 1.5em;
  position: absolute;
  top: 0.5em;
  left: 1.5em;
  color: #FF6B00;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .logo span {
  color: white;
}

.header .logo :hover {
  color: white;
}

.header .logo :hover span {
  color: #4AD12C;
  text-decoration: underline;
}

.header .menucontainer {
  position: fixed;
  top: 0em;
  right: 0em;
  padding: 1.5em;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .menucontainer .menu {
  border: 0;
  background-color: #ff6a0057;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  border: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transition: border-radius 0.3s;
  transition: border-radius 0.3s;
}

.header .menucontainer .menu img {
  margin: auto;
}

.header .menucontainer:hover {
  -webkit-transform: scale(20);
          transform: scale(20);
}

.header .menucontainer:hover .menu {
  border-radius: 50px;
}

.header .menucontainer.hidden {
  -webkit-transform: translatex(200px);
          transform: translatex(200px);
}

.hero {
  height: calc(100vh - 5.25em);
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(73.41%, #030426));
  background: linear-gradient(180deg, #000000 0%, #030426 73.41%);
}

.hero .container {
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container .heroTextR span {
  color: #FF6B00;
}

.hero .container .heroL {
  font-size: 3em;
  max-width: 530px;
}

.hero .container .heroR {
  margin-top: auto;
  margin-bottom: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 0.8em;
}

.hero .container .heroR h2 {
  opacity: 100;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.hero .container .heroR img {
  max-width: 2.5em;
  margin-left: 1em;
  -webkit-animation: arrowAnim 0.5s ease-in 0s infinite alternate;
          animation: arrowAnim 0.5s ease-in 0s infinite alternate;
  -webkit-transition: translate 2s;
  transition: translate 2s;
}

.hero .container .heroR.hidden h2 {
  opacity: 0;
}

.hero .container .heroR.hidden img {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.console {
  height: 100vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translatey(50px);
          transform: translatey(50px);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.console .container {
  background: black;
  width: 1200px;
  height: 700px;
  margin: auto;
}

.console .container .header {
  width: 100%;
  height: auto;
}

.console .container .textStart {
  font-size: 18px;
  font-weight: lighter;
  margin: 15px;
}

.console .container .textStart .red {
  color: red;
}

.console .container .textStart .blue {
  color: #5338F6;
}

.console.fadeIn {
  opacity: 100;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.consoleTrigger {
  min-height: 1px;
}

.spacer {
  min-height: 400px;
}

@-webkit-keyframes arrowAnim {
  0% {
    -webkit-transform: translateY(-0.75em);
            transform: translateY(-0.75em);
  }
  100% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

@keyframes arrowAnim {
  0% {
    -webkit-transform: translateY(-0.75em);
            transform: translateY(-0.75em);
  }
  100% {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

@-webkit-keyframes caretAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes caretAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/*# sourceMappingURL=main.css.map */