@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500&display=swap');

body{
    background: #030426;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

a{
    text-decoration: none;
}

.caret{
    width: 10px;
    height: 20px;
    position: absolute;
    top: 91px;
    left: 15px;
    background: white;
    animation: caretAnim 0.5s none 0s infinite alternate
}

.header{
    align-items: center;
    height: 5.25em;
    background: black;
    .logo{
        size: 1.5em;
        padding: 1.5em;
        position: absolute;
        top: 0.5em;
        left: 1.5em;
        color: #FF6B00;
        transition: transform 0.3s ease;
        span{
            color: white;
        }
    }
    .logo :hover {
        // color: #FF6B00;
        // transform: translate(0px,-2.5px);
        // span{
            color: white;
            span{
                color: #4AD12C;
                text-decoration: underline;
            }
        // }
    }
    .menucontainer{
        position: fixed;
        top: 0em;
        right: 0em;
        padding: 1.5em;
        transition: transform 0.3s ease;
        .menu{
            border: 0;
            background-color: #ff6a0057;
            display: flex;
            justify-items: center;
            border: 0;
            width: 50px;
            height: 50px;
            padding: 0;
            transition: border-radius 0.3s;
            img{
                margin: auto;
            }
            
        }
    }
    .menucontainer:hover{
        transform: scale(20);
        .menu{border-radius: 50px;}
    }
}

.hero{
    height: calc(100vh - 5.25em);
    background: linear-gradient(180deg, #000000 0%, #030426 73.41%);
    .container{
        height: inherit;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        .heroTextR{
            span{
                color:#FF6B00;
            }
        }
        .heroL{
            font-size: 3em;
            max-width: 530px;
        }
        .heroR{
            margin-top: auto;
            margin-bottom: 3.5em;
            display: flex;
            justify-content: right;
            font-size: 0.8em;
            img{
                max-width: 2.5em;
                margin-left: 1em;
                animation: arrowAnim 0.5s ease-in 0s infinite alternate;
            }
        }
    }
}

.console{
    height: 100vh;
    width: auto;
    display: flex;
    opacity: 0;
    transform: translatey(50px);
    transition: all 1s ease-out;
    .container{
        background: black;
        width:1200px;
        height:700px;
        margin:auto;
        .header{
            width: 100%;
            height: auto;
        }
        .textStart{
            font-size:18px;
            font-weight: lighter;
            margin: 15px;
            opacity: 0;
            transition: opacity 0s ease 3s;
        }
    }
}

.console.fadeIn{
    opacity: 100;
    transform: translateY(0);
    .container{.textStart{
        opacity: 100;
    }}
}

@keyframes arrowAnim {
    0%{
        transform: translateY(-0.75em);
    }
    100%{
        transform: translateY(0em);
    }
}
@keyframes caretAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}