@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500&display=swap");
body {
  background: #030426;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  color: white;
}

a {
  text-decoration: none;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.25em;
  background: black;
}

.header .logo {
  size: 1.5em;
  position: absolute;
  top: 1em;
  left: 2em;
  color: #FF6B00;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .logo span {
  color: white;
}

.header .logo :hover {
  color: #FF6B00;
  -webkit-transform: translate(0px, -2.5px);
          transform: translate(0px, -2.5px);
}

.header .logo :hover span {
  color: white;
}

.header .logo :hover span span {
  color: #4AD12C;
  text-decoration: underline;
}

.header .menu {
  position: fixed;
  top: 1em;
  right: 1em;
  border: 0;
  background-color: #ff6a0057;
  width: 50px;
  height: 50px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .menu img {
  margin: auto;
}

.header .menu:hover {
  -webkit-transform: translate(0px, -2.5px);
          transform: translate(0px, -2.5px);
}

.hero {
  height: calc(100vh - 5.25em);
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(73.41%, #030426));
  background: linear-gradient(180deg, #000000 0%, #030426 73.41%);
}

.hero .container {
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container .hero-text-r span {
  color: #FF6B00;
}

.hero .container .hero-l {
  font-size: 3em;
  max-width: 530px;
}

.hero .container .hero-r {
  margin-top: auto;
  margin-bottom: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 0.8em;
}

.hero .container .hero-r img {
  max-width: 2.5em;
  margin-left: 1em;
  -webkit-animation: arrowAnim 2s ease-in-out 0s infinite alternate;
          animation: arrowAnim 2s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes arrowAnim {
  0% {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
  }
  100% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
}

@keyframes arrowAnim {
  0% {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
  }
  100% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
}

.plate {
  height: 1000px;
}
/*# sourceMappingURL=main.css.map */