@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500&display=swap');

body{
    background: #030426;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

a{
    text-decoration: none;
}

aside{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: auto;
    padding-right: 1em;
    background: black;
    z-index: 100;
    display: flex;
    transform: translateX(300px);
    transition: transform 0.75s;
    ul{
        margin-block: auto;
        justify-items: space-between;
        list-style: none;
        margin-left: 0;
        margin-right: 2em;
        li{
            margin-block: 1em;
            transform: translateY(0);
            transition: transform 0.5s ease;
            a{
                // transition: background-position-x 0.5s ease;
                background: linear-gradient(90deg, white 0%, white 48.23%, rgba(196, 196, 196, 0) 48.24%, rgba(196, 196, 196, 0) 100%);
                transition: background-position-x 0.75s ease;
                background-position: 100%;
                background-size: 400% 400%;
                padding-inline: 0.5em;
                padding-block: 0.25em;
                // transition: color 0.5s;
            }
            a.cta{
                // transition: background-position-x 0.5s ease;
                background: linear-gradient(90deg, white 0%, white 48.23%, #ff6a00 48.24%, #FF6B00 100%);
                transition: background-position-x 0.75s ease;
                background-position: 100%;
                background-size: 400% 400%;
                padding-inline: 0.5em;
                padding-block: 0.25em;
            }
        }
        li:hover{
            a{
                transform: translate(2px,-4px);
                background-position: 0%;
                color: #5338F6;
            }
        }
    }
    a{
        color: white;
    }
    a:hover{
        color:#5338F6;
    }
}

aside.menuShown{
    transform: translateX(0px);
}

.caret{
    width: 10px;
    height: 20px;
    position: relative;
    top: 36px;
    left: 15px;
    background: white;
}
.caretEnabled{
    animation: blinkAnim 0.5s none 0s infinite alternate;
}

.header{
    align-items: center;
    height: 5.25em;
    background: black;
    .logo{
        size: 1.5em;
        padding: 1.5em;
        position: absolute;
        top: 0.5em;
        left: 1.5em;
        color: #FF6B00;
        transition: transform 0.3s ease;
        span{
            color: white;
        }
    }
    .logo :hover {
        // color: #FF6B00;
        // transform: translate(0px,-2.5px);
        // span{
            color: white;
            span{
                color: #4AD12C;
                text-decoration: underline;
            }
        // }
    }
    .menucontainer{
        position: fixed;
        top: 0em;
        right: 0em;
        padding: 1.5em;
        transition: transform 0.3s ease;
        z-index: 200;
        .menu{
            border: 0;
            background-color: #ff6a0057;
            display: flex;
            justify-items: center;
            border: 0;
            width: 50px;
            height: 50px;
            padding: 0;
            transition: border-radius 0.3s;
            img.top{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                transform: rotate(0deg);
                opacity: 100;
                transition: transform 1s,opacity 1s;
            }
            img.bottom{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                transform: rotate(0deg);
                opacity: 0;
                transition: transform 1s,opacity 1s;
            }
            img.top.menuShown{
                opacity: 0;
                transform: rotate(360deg);
            }
            img.bottom.menuShown{
                opacity: 100;
                transform: rotate(360deg);
            }
            
        }
    }
    .menucontainer:hover{
        transform: scale(20);
        .menu{border-radius: 50px;}
    }
    .menucontainer.hidden{
        transform: translatex(200px);
    }
}

.hero{
    height: calc(100vh - 5.25em);
    background: linear-gradient(180deg, #000000 0%, #030426 73.41%);
    .container{
        height: inherit;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        .heroTextR{
            span{
                color:#FF6B00;
            }
        }
        .heroL{
            font-size: 3em;
            max-width: 530px;
        }
        .heroR{
            margin-top: auto;
            margin-bottom: 3.5em;
            display: flex;
            justify-content: right;
            font-size: 0.8em;
            h2{
                opacity: 100;
                transition: opacity 2s;
            }
            img{
                max-width: 2.5em;
                margin-left: 1em;
                animation: arrowAnim 0.5s ease-in 0s infinite alternate;
                transition: translate 2s;
            }
        }
        .heroR.hidden{
            h2{
                opacity: 0;
            }
            img{
                transform: translateX(200px);
            }
        }
    }
}

.console{
    height: 100vh;
    width: auto;
    display: flex;
    opacity: 0;
    transform: translatey(50px);
    transition: all 1s ease-out;
    .container{
        height: 100%;
        width: 100%;
        margin: none;
        padding: none;
        display: block;
        padding-top: calc((100vh - 700px) / 2);
        .consoleStartContainer{
            background: black;
            display: block;
            width:1200px;
            height:700px;
            margin:auto;
            .header{
                width: 100%;
                height: auto;
            }
            .textStart{
                font-size:18px;
                font-weight: lighter;
                margin: 15px;
                .red{
                    color:red;
                }
                .blue{
                    color: #5338F6;
                }
            }
        }
        .consoleEndContainer{
            display: flex-block;
            width: 1200px;
            height: 700;
            margin: auto;
            .topContainer{
                top: 10px;
                #textEndOn{
                    object-fit: fill;
                }
                #textEndOff{
                    object-fit: fill;
                }
            }
            .bottomContainer{
                width: 1200px;
                height: 30px;
                .background{
                    width: 100%;
                    height: 100%;
                    background-color: #C4C4C4;
                }
            }
        }
    }
}

.console.fadeIn{
    opacity: 100;
    transform: translateY(0);
}
.consoleTrigger{
    min-height: 1px;
}

.spacer{
    min-height: 400px;
}

@keyframes arrowAnim {
    0%{
        transform: translateY(-0.75em);
    }
    100%{
        transform: translateY(0em);
    }
}

@keyframes blinkAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}